<mat-card id="connexion-card">

  <mat-card-header>
    <div class="mat-card-header-text">
      <mat-card-title>Connexion</mat-card-title>
    </div>
  </mat-card-header>
  <mat-progress-bar *ngIf="loadingRequest" mode="indeterminate"></mat-progress-bar>
  <mat-card-content>
    <app-alert-error *ngIf="error" [error]="messageError"></app-alert-error>
    
    <form (ngSubmit)="onSubmit()">
      <mat-form-field>
        <input id="pseudo" name="pseudo" [(ngModel)]="user.pseudo" #pseudo="ngModel" matInput placeholder="Pseudo" required>
      </mat-form-field>
      <mat-form-field>
        <input id="password" name="password" [(ngModel)]="user.password" #password="ngModel" type="password" matInput placeholder="Mot de passe"
          required>
      </mat-form-field>
      <button [disabled]="pseudo.errors?.required || password.errors?.required || loadingRequest" type="submit" mat-raised-button
        color="primary" class="text-kb-white">Connexion</button>
    </form>
  </mat-card-content>
  <mat-card-actions align='center'>
    <a mat-button>Mot de passe oublié ?</a>
    <a mat-button [routerLink]="['/register']">Créer un compte</a>
  </mat-card-actions>
</mat-card>