<nav [@myAwesomeAnimation]='sideNavState' class="top-menu">
  <mat-icon (click)="animateSideNav(); _toggleSideNav($event)">menu</mat-icon>
  <ul>
    <li>
      <a mat-button [routerLink]="['/dogEnigmaCloud/home']"><mat-icon class="margin-right">home</mat-icon><span>Home</span></a>
    </li>
    <li>
      <a mat-button [routerLink]="['/dogEnigmaCloud/me']">Me</a>
    </li>
    <li>
      <a mat-button [routerLink]="['/dogEnigmaCloud/help']">Help</a>
    </li>
  </ul>
</nav>


<!-- <div #overlay class="overlay-side-nav" (click)="_toggleSideNav($event); animateMe();" [ngClass]="{close : !_sideNavOpened, open : _sideNavOpened}"></div> -->
<nav class="side-nav" [ngClass]="{close : !_sideNavOpened, open : _sideNavOpened}">
  <ul>
    <li>
      <a mat-button (click)="onClick">Go Here</a>
    </li>
    <li>
      <a mat-button (click)="onClick">Go Here 2</a>
    </li>
    <li>
      <a mat-button (click)="onClick">Go Here 3</a>
    </li>
  </ul>
</nav>

<div #testAnimation [@myAwesomeAnimation]='sideNavState' class="test-animation">
<router-outlet></router-outlet>
</div>
