<nav class="top-menu">
  <mat-icon (click)="_toggleSideNav($event)">menu</mat-icon>
  <ul>
    <li>
      <a mat-button [routerLink]="['/dogEnigmaCloud/me']" >Test</a>
    </li>
    <li>
      <a mat-button [routerLink]="['/dogEnigmaCloud/home']">Test1</a>
    </li>
    <li>
      <a mat-button>Test2</a>
    </li>
  </ul>
</nav>


<div #overlay class="overlay-side-nav" (click)="_toggleSideNav($event)" [ngClass]="{close : !_sideNavOpened, open : _sideNavOpened}"></div>
<nav class="side-nav" [ngClass]="{close : !_sideNavOpened, open : _sideNavOpened}">
  <ul>
    <li>
      <a mat-button (click)="onClick">Go Here</a>
    </li>
    <li>
      <a mat-button (click)="onClick">Go Here 2</a>
    </li>
    <li>
      <a mat-button (click)="onClick">Go Here 3</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
