<div class="under-nav">

  <p>
    moncompte works!
  </p>

  <div layout="row">
    <mat-form-field tdFileDrop [disabled]="disabled" (fileDrop)="files = $event" (click)="fileInput.inputElement.click()" (keyup.enter)="fileInput.inputElement.click()"
      (keyup.delete)="fileInput.clear()" (keyup.backspace)="fileInput.clear()" flex>
      <input matInput placeholder="select or drop files" [value]="files?.length ? (files?.length + ' files') : files?.name" [disabled]="disabled"
        readonly/>
    </mat-form-field>
    <button mat-icon-button *ngIf="files" (click)="fileInput.clear()" (keyup.enter)="fileInput.clear()">
      <mat-icon>cancel</mat-icon>
    </button>
    <td-file-input class="push-left-sm push-right-sm" #fileInput [(ngModel)]="files" multiple [disabled]="disabled">
      <mat-icon>folder</mat-icon>
      <span class="text-upper">Browse...</span>
    </td-file-input>
    <span>
      <button mat-raised-button color="accent" (click)="onSubmit()" [disabled]="!files" class="text-upper">Submit</button>
    </span>
    <div *ngIf="dataUploading">
      <mat-progress-spinner [color]="primary" [value]="avancement">
      </mat-progress-spinner>
    </div>
  </div>
  <div>{{avancement}} %</div>

  <h1>Download</h1>
  <button mat-raised-button color="accent" (click)="download()" class="text-upper">Download</button>

</div>
