<div class="under-nav">

  <div class="presentation-koobe">
    <div class="overlay-blue"></div>
    <img id="img-koopou" src="../../assets/images/koopou.png" alt="koopou">
    <label id="label-koopou" for="img-koopou">Caressez Koopou !</label>
    <div class="informations">
      5 jours sans vous revoir...
      <br>Heureux de vous retrouver !
      <br>
      <span class="news">Voir les nouveautées</span>
    </div>
  </div>

  <div class="banner"><span class="bold">Koobe</span> vous permet de lire et partager des ebooks gratuitement</div>

</div>
